@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Scheherazade&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#particles-js {
  background-color: #eeeeee !important;
  position: fixed; /* Keep it fixed to cover the entire screen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Ensure it’s below content layers */
  pointer-events: none; /* Prevent interactions with the particles layer */
}

.relative {
  position: relative; /* Ensure content sections stack above */
  z-index: 1; /* Content sections appear above the particles */
}

.font-cairo {
  font-family: "Cairo", sans-serif !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
  font-family: "Cairo", sans-serif;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}
